.loader {
  @apply fixed w-screen h-screen z-[999] top-0 left-0;
  background: rgba(28, 28, 28, 0.2);
  backdrop-filter: blur(12px);
}

.wrapper {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #f69400 41%);
  background: linear-gradient(
        0deg,
        rgba(246, 148, 0, 0.5) 50%,
        rgba(246, 148, 0, 1) 0
      )
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(246, 148, 0, 0.25) 50%,
        rgba(246, 148, 0, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
